* {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    padding: 10px;
}

.grid {
    background-color: lightskyblue;

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 25px;
}

.div1 {
    background-color: blueviolet;
}

.div2 {
    background-color: coral;
    /* width: max-content; */
}

.div3 {
    background-color: greenyellow;
    /* width: min-content; */
}