* {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: auto;
}

div {
    padding: 10px;
}

.page {
    background-color: lightskyblue;
    height: 100%;
    width: 100%;
    
    display: grid;

    grid-template: 
        'header' 50px
        'content' 1fr
        'navigation' auto
        'footer' 50px / 1fr;
}

.header {
    grid-area: header;
    background: greenyellow;
}
.navigation {
    grid-area: navigation;
    background: lightcoral;
}

.navigation > ul {
    display: flex;
    flex-direction: column
}

li {
    margin: 15px;
}

.content {
    grid-area: content;
    background: lightslategray
}
.footer {
    grid-area: footer;
    background: violet;
}

@media (min-width: 700px) {
    .page {
        grid-template: 
            'header navigation' 150px
            'content content' 1fr
            'footer footer' 150px / auto 1fr;
       }

    .navigation > ul {
        flex-direction: row;
    }
}

@media (min-width: 900px) {
   .page {
    grid-template: 
        'header header' 150px
        'navigation content' 1fr
        'footer footer' 150px / auto 1fr;
   }

   .navigation > ul {
        flex-direction: column;
    }
}

